<div class="">

    <div class="card-header">
        {{personaje.name}}
    </div>

    <img src={{personaje.img}} class="card-img-top" alt={{personaje.nickname}}>

    <div class="card-body">
        <div class="card-title"> <span class="personaje_id bg-primary float-left">{{personaje.char_id}}</span>

        </div>
        <p class="">{{personaje.nickname}}</p>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="item"> Estado: </span> <span [ngClass]="personaje.status=='Deceased'?'muerto':'vivo'"> {{personaje.status}}</span> </li>
        <li class="list-group-item"><span class="item"> Ocupación: </span> {{personaje.occupation}}</li>
        <!-- <li class="list-group-item">A third item</li> -->
    </ul>

    <div class="card-body">
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
    </div>

</div>